body{
	margin: 0 auto;
	height: 100%;
}

#wrapper{
	min-height: 100%;
	margin-bottom: -100px;
}
#banner{
	height: 70px;
	width: 100%;
}
#menu{
	height: 50px;
	width: 100%;
	background-color: #60FFAB;
}
#content{
	min-height: 300px;
	width: 100%;
}
#footer{
	height: 100px;
	width: 100%;
	background-color: #E6005D;
}
#logo01{
	height: 50px;
	width: 50px;
	margin-left: 3%;
	margin-top: 10px;
}
.logo02{
	height: 50px;
	width: 50px;
	float: right;
	margin-top: 10px;
	margin-right: 1%;
}
.news{
	height: 200px;
	width: 200px;
	margin-left: 2%;
	margin-top: 1%;
}